<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>HTML Web Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/style.css">
</head>

<body>
    <div class="container">
        <section>
            <div class="box">
                <h2>HomeAssistant</h2>
                <p>
                    <marquee width="100%">Open source home automation that puts local control and privacy first. Powered
                        by a worldwide community of tinkerers and DIY enthusiasts. Perfect to run on a Raspberry Pi or a
                        local server.</marquee>
                </p>
            </div>
            <br>
        </section>

    </div>

    <div class="tm-content-div">
        <table border="1">
            <tr>
                <th>Device No. {{position}}</th>
                <th>Old Values</th>
                <th>New Values</th>
            </tr>
            <form action="edit" method="post">
                <tr>
                    <th>Controller Data</th>
                    <td>{{controller_data}}</td>
                    <td><input type='text' name="controller_data"></td>
                </tr>
                <tr>
                    <th>Device Code</th>
                    <td>{{device_code}}</td>
                    <td><input type='text' name="device_code"></td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{name}}</td>
                    <td><input type='text' name="name"></td>
                </tr>
                <tr>
                    <th>Platform</th>
                    <td>{{platform}}</td>
                    <td><input type='text' name="platform"></td>
                </tr>
                <tr>
                    <th>Unique ID</th>
                    <td>{{unique_id}}</td>
                    <td><input type='text' name="unique_id"></td>
                </tr>
                <tr>
                    <th>Fan mode command topic</th>
                    <td>{{fan_mode_command_topic}}</td>
                    <td><input type='text' name="fan_mode_command_topic"></td>
                </tr>
                <tr>
                    <th>Fan mode state topic</th>
                    <td>{{fan_mode_state_topic}}</td>
                    <td><input type='text' name="fan_mode_state_topic"></td>
                </tr>
                <tr>
                    <th>Max temp</th>
                    <td>{{max_temp}}</td>
                    <td><input type='text' name="max_temp"></td>
                </tr>
                <tr>
                    <th>Min temp</th>
                    <td>{{min_temp}}</td>
                    <td><input type='text' name="min_temp"></td>
                </tr>
                <tr>
                    <th>Mode command topic</th>
                    <td>{{mode_command_topic}}</td>
                    <td><input type='text' name="mode_command_topic"></td>
                </tr>
                <tr>
                    <th>Mode state topic</th>
                    <td>{{mode_state_topic}}</td>
                    <td><input type='text' name="mode_state_topic"></td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{name}}</td>
                    <td><input type='text' name="name"></td>
                </tr>
                <tr>
                    <th>Platform</th>
                    <td>{{platform}}</td>
                    <td><input type='text' name="platform"></td>
                </tr>
                <tr>
                    <th>Power command topic</th>
                    <td>{{power_command_topic}}</td>
                    <td><input type='text' name="power_command_topic"></td>
                </tr>
                <tr>
                    <th>Precision</th>
                    <td>{{precision}}</td>
                    <td><input type='text' name="precision"></td>
                </tr>
                <tr>
                    <th>Swing mode command topic</th>
                    <td>{{swing_mode_command_topic}}</td>
                    <td><input type='text' name="swing_mode_command_topic"></td>
                </tr>
                <tr>
                    <th>Swing mode state topic</th>
                    <td>{{swing_mode_state_topic}}</td>
                    <td><input type='text' name="swing_mode_state_topic"></td>
                </tr>
                <tr>
                    <th>Temperature command topic</th>
                    <td>{{temperature_command_topic}}</td>
                    <td><input type='text' name="temperature_command_topic"></td>
                </tr>
                <tr>
                    <th>Temperature state topic</th>
                    <td>{{temperature_state_topic}}</td>
                    <td><input type='text' name="temperature_state_topic"></td>
                </tr>
                <tr>
                    <td colspan="2"><a href="edit"><button name="save" type="submit"
                                value="{{position}}">save</button></a></td>
                </tr>
            </form>
        </table>
    </div>

    <div class="fooder">
        <footer>
            <p class="tm-copyright-p">-------------------------</p>
        </footer>
    </div>
    </div> <!-- container -->
</body>

</html>