<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>HTML Web Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <style>
        /* The container */
        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* Hide the browser's default radio button */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        /* Create a custom radio button */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
            border-radius: 50%;
        }

        /* On mouse-over, add a grey background color */
        .container:hover input~.checkmark {
            background-color: #ccc;
        }

        /* When the radio button is checked, add a blue background */
        .container input:checked~.checkmark {
            background-color: #2196F3;
        }

        /* Create the indicator (the dot/circle - hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the indicator (dot/circle) when checked */
        .container input:checked~.checkmark:after {
            display: block;
        }

        /* Style the indicator (dot/circle) */
        .container .checkmark:after {
            top: 9px;
            left: 9px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <div class="container">
        <section>
            <div class="box">
                <h2>HomeAssistant</h2>
                <p>
                    <marquee width="100%">Open source home automation that puts local control and privacy first. Powered
                        by a worldwide community of tinkerers and DIY enthusiasts. Perfect to run on a Raspberry Pi or a
                        local server.</marquee>
                </p>
            </div>
            <br>
        </section>

    </div>

    <div class="tm-content-div">
        <table>
            <tr>
                <th>NO.</th>
                <th>Controller Data</th>
                <th>Device Code</th>
                <th>Name</th>
                <th>Platform</th>
                <th>Unique ID</th>
                <th>Fan mode command topic</th>
                <th>Fan mode state topic</th>
                <th>Fan modes</th>
                <th>Max temp</th>
                <th>Min temp</th>
                <th>Mode command topic</th>
                <th>Mode state topic</th>
                <th>Modes</th>
                <th>Name</th>
                <th>Platform</th>
                <th>Power command topic</th>
                <th>Precision</th>
                <th>Swing mode command topic</th>
                <th>Swing mode state topic</th>
                <th>Temperature command topic</th>
                <th>Temperature state topic</th>
                <td><a href="add"><button name="button" type="button">Add Device</button></td></a>
            </tr>

            {% for position, controller_data, device_code, name, platform, unique_id, fan_mode_command_topic, fan_mode_state_topic, fan_modes, max_temp, min_temp, mode_command_topic, mode_state_topic, modes, name, platform, power_command_topic, precision, swing_mode_command_topic, swing_mode_state_topic, temperature_command_topic, temperature_state_topic in list %}

            <tr>
                <td>{{position}}</td>
                <td>{{controller_data}}</td>
                <td>{{device_code}}</td>
                <td>{{name}}</td>
                <td>{{platform}}</td>
                <td>{{unique_id}}</td>
                <td>{{fan_mode_command_topic}}</td>
                <td>{{fan_mode_state_topic}}</td>
                <td>{% for mode in fan_modes %}
                    <label class="container">{{mode}}
                        <input type="radio" name="radio">
                        <span class="checkmark"></span>
                    </label>
                    {% endfor %}</td>
                <td>{{max_temp}}</td>
                <td>{{min_temp}}</td>
                <td>{{mode_command_topic}}</td>
                <td>{{mode_state_topic}}</td>
                <td>{% for mode in modes %}
                    <label class="container">{{mode}}
                        <input type="radio" name="radio">
                        <span class="checkmark"></span>
                    </label>
                    {% endfor %}
                </td>
                <td>{{name}}</td>
                <td>{{platform}}</td>
                <td>{{power_command_topic}}</td>
                <td>{{precision}}</td>
                <td>{{swing_mode_command_topic}}</td>
                <td>{{swing_mode_state_topic}}</td>
                <td>{{temperature_command_topic}}</td>
                <td>{{temperature_state_topic}}</td>
                <td>
                    <form method="post" action="/renderEdit">
                        <a href="renderEdit"><button name="edit" type="submit" value="{{position}}">Edit</button></a>
                    </form>

                    <form method="post" action="/">
                        <a href=""><button name="delete" type="submit" value="{{position}}">Delete</button></a>
                    </form>
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>

    <div class="fooder">
        <footer>
            <p class="tm-copyright-p">-------------------------</p>
        </footer>
    </div>
    </div> <!-- container -->
</body>

</html>